certifi==2018.4.16
chardet==3.0.4
heroku==0.1.4
idna==2.7
node==0.9.22
npm==0.1.1
odict==1.6.2
optional-django==0.1.0
plumber==1.5
python-dateutil==1.5
requests==2.19.1
urllib3==1.24.2
virtualenv==16.0.0
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.5.0
zope.lifecycleevent==4.2.0
